# CARREGAMENTO DOS DADOS

In [71]:
import pandas as pd

In [72]:
df = pd.read_csv('Dados/dados_tratados.csv')

In [73]:
df.head()

,Id_cliente,Churn,Sexo,Idoso,Parceiro,Dependentes,Tempo_servico,Servico_telefone,Varias_linhas,Servico_internet,...,Protecao_dispositivo,Suporte_tecnico,Streaming_TV,Streaming_filmes,Contrato,Fatura_papel,Metodo_pagamento,Taxas_mensais,Cobranca_total,Contas_diarias
0,0002-ORFBO,0.0,0,0,1,1,9,1,0,DSL,...,0,1,1,0,One year,1,Mailed check,65.6,593.30,2.19
1,0003-MKNFE,0.0,1,0,0,0,9,1,1,DSL,...,0,0,0,1,Month-to-month,0,Mailed check,59.9,542.40,2.00
2,0004-TLHLJ,1.0,1,0,0,0,4,1,0,Fiber optic,...,1,0,0,0,Month-to-month,1,Electronic check,73.9,280.85,2.46
3,0011-IGKFF,1.0,1,1,1,0,13,1,0,Fiber optic,...,1,0,1,1,Month-to-month,1,Electronic check,98.0,1237.85,3.27
4,0013-EXCHZ,1.0,0,1,1,0,3,1,0,Fiber optic,...,0,1,1,0,Month-to-month,1,Mailed check,83.9,267.40,2.80

### Informações Básicas sobre o Dataset

In [74]:
# Shape do Dataset
df.shape

(7267, 22)

In [75]:
# Numero de linhas
df.shape[0]

7267

In [76]:
# Numero de colunas
df.shape[1]

22

In [77]:
# Tipos de dado
df.dtypes

Id_cliente               object
Churn                   float64
Sexo                      int64
Idoso                     int64
Parceiro                  int64
Dependentes               int64
Tempo_servico             int64
Servico_telefone          int64
Varias_linhas             int64
Servico_internet         object
Seguranca_online          int64
Backup_online             int64
Protecao_dispositivo      int64
Suporte_tecnico           int64
Streaming_TV              int64
Streaming_filmes          int64
Contrato                 object
Fatura_papel              int64
Metodo_pagamento         object
Taxas_mensais           float64
Cobranca_total          float64
Contas_diarias          float64
dtype: object

In [78]:
# informações gerais
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id_cliente            7267 non-null   object
 1   Churn                 7043 non-null   float64
 2   Sexo                  7267 non-null   int64
 3   Idoso                 7267 non-null   int64
 4   Parceiro              7267 non-null   int64
 5   Dependentes           7267 non-null   int64
 6   Tempo_servico         7267 non-null   int64
 7   Servico_telefone      7267 non-null   int64
 8   Varias_linhas         7267 non-null   int64
 9   Servico_internet      7267 non-null   object
 10  Seguranca_online      7267 non-null   int64
 11  Backup_online         7267 non-null   int64
 12  Protecao_dispositivo  7267 non-null   int64
 13  Suporte_tecnico       7267 non-null   int64
 14  Streaming_TV          7267 non-null   int64
 15  Streaming_filmes      7267 non-null   int64
 16  Contrato              7267 non-null   object
 17  Fatura_papel          7267 non-null   int64
 18  Metodo_pagamento      7267 non-null   object
 19  Taxas_mensais         7267 non-null   float64
 20  Cobranca_total        7267 non-null   float64
 21  Contas_diarias        7267 non-null   float64
dtypes: float64(4), int64(14), object(4)
memory usage: 1.2+ MB

## Analise Descritiva

In [79]:
df.describe()

,Churn,Sexo,Idoso,Parceiro,Dependentes,Tempo_servico,Servico_telefone,Varias_linhas,Seguranca_online,Backup_online,Protecao_dispositivo,Suporte_tecnico,Streaming_TV,Streaming_filmes,Fatura_papel,Taxas_mensais,Cobranca_total,Contas_diarias
count,7043.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000
mean,0.265370,0.505711,0.162653,0.484106,0.300124,32.346498,0.902711,0.421770,0.285950,0.344571,0.342782,0.289528,0.383927,0.387505,0.593230,64.720098,2277.182035,2.157292
std,0.441561,0.500002,0.369074,0.499782,0.458343,24.571773,0.296371,0.493876,0.451897,0.475261,0.474672,0.453575,0.486374,0.487214,0.491265,30.129572,2268.648587,1.004407
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.610000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.425000,396.200000,1.180000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,70.300000,1389.200000,2.340000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.875000,3778.525000,2.995000
max,1.000000,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000,3.960000

In [80]:
# valores ausentes por coluna
missing_data = df.isnull().sum()
print(missing_data[missing_data > 0])

Churn    224
dtype: int64

In [81]:
# Destribuição da variavel alvo 

print(df['Churn'].value_counts())
print(f"Taxa de churn: {df['Churn'].mean():.2%}")

Churn
0.0    5174
1.0    1869
Name: count, dtype: int64
Taxa de churn: 26.54%

# Preparação os dados para a modelagem

In [82]:
df = df.drop(columns = ['Id_cliente'], axis= 1) #Removendo a coluna Id_clinte, pois não contribui para nosso modelo

In [83]:
df.info() # Verificando se a coluna foi excluida

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Churn                 7043 non-null   float64
 1   Sexo                  7267 non-null   int64
 2   Idoso                 7267 non-null   int64
 3   Parceiro              7267 non-null   int64
 4   Dependentes           7267 non-null   int64
 5   Tempo_servico         7267 non-null   int64
 6   Servico_telefone      7267 non-null   int64
 7   Varias_linhas         7267 non-null   int64
 8   Servico_internet      7267 non-null   object
 9   Seguranca_online      7267 non-null   int64
 10  Backup_online         7267 non-null   int64
 11  Protecao_dispositivo  7267 non-null   int64
 12  Suporte_tecnico       7267 non-null   int64
 13  Streaming_TV          7267 non-null   int64
 14  Streaming_filmes      7267 non-null   int64
 15  Contrato              7267 non-null   object
 16  Fatura_papel          7267 non-null   int64
 17  Metodo_pagamento      7267 non-null   object
 18  Taxas_mensais         7267 non-null   float64
 19  Cobranca_total        7267 non-null   float64
 20  Contas_diarias        7267 non-null   float64
dtypes: float64(4), int64(14), object(3)
memory usage: 1.2+ MB

In [84]:
col_categoricas = df.select_dtypes(include=['object']).columns
col_categoricas

Index(['Servico_internet', 'Contrato', 'Metodo_pagamento'], dtype='object')

In [85]:
df_encoded = pd.get_dummies(df, columns = col_categoricas, drop_first= True)
df_encoded.head()

,Churn,Sexo,Idoso,Parceiro,Dependentes,Tempo_servico,Servico_telefone,Varias_linhas,Seguranca_online,Backup_online,...,Taxas_mensais,Cobranca_total,Contas_diarias,Servico_internet_Fiber optic,Servico_internet_No,Contrato_One year,Contrato_Two year,Metodo_pagamento_Credit card (automatic),Metodo_pagamento_Electronic check,Metodo_pagamento_Mailed check
0,0.0,0,0,1,1,9,1,0,0,1,...,65.6,593.30,2.19,False,False,True,False,False,False,True
1,0.0,1,0,0,0,9,1,1,0,0,...,59.9,542.40,2.00,False,False,False,False,False,False,True
2,1.0,1,0,0,0,4,1,0,0,0,...,73.9,280.85,2.46,True,False,False,False,False,True,False
3,1.0,1,1,1,0,13,1,0,0,1,...,98.0,1237.85,3.27,True,False,False,False,False,True,False
4,1.0,0,1,1,0,3,1,0,0,0,...,83.9,267.40,2.80,True,False,False,False,False,False,True

In [86]:
df['Churn'].value_counts(normalize=True) * 100

Churn
0.0    73.463013
1.0    26.536987
Name: proportion, dtype: float64

In [87]:
from sklearn.preprocessing import StandardScaler

In [88]:
escala = StandardScaler()
col_numericas = ['Taxas_mensais', 'Cobranca_total']
df_encoded[col_numericas] = escala.fit_transform(df_encoded[col_numericas])
df_encoded.head()

,Churn,Sexo,Idoso,Parceiro,Dependentes,Tempo_servico,Servico_telefone,Varias_linhas,Seguranca_online,Backup_online,...,Taxas_mensais,Cobranca_total,Contas_diarias,Servico_internet_Fiber optic,Servico_internet_No,Contrato_One year,Contrato_Two year,Metodo_pagamento_Credit card (automatic),Metodo_pagamento_Electronic check,Metodo_pagamento_Mailed check
0,0.0,0,0,1,1,9,1,0,0,1,...,0.029206,-0.742291,2.19,False,False,True,False,False,False,True
1,0.0,1,0,0,0,9,1,1,0,0,...,-0.159990,-0.764729,2.00,False,False,False,False,False,False,True
2,1.0,1,0,0,0,4,1,0,0,0,...,0.304702,-0.880026,2.46,True,False,False,False,False,True,False
3,1.0,1,1,1,0,13,1,0,0,1,...,1.104635,-0.458160,3.27,True,False,False,False,False,True,False
4,1.0,0,1,1,0,3,1,0,0,0,...,0.636624,-0.885955,2.80,True,False,False,False,False,False,True

In [89]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Churn                                     7043 non-null   float64
 1   Sexo                                      7267 non-null   int64
 2   Idoso                                     7267 non-null   int64
 3   Parceiro                                  7267 non-null   int64
 4   Dependentes                               7267 non-null   int64
 5   Tempo_servico                             7267 non-null   int64
 6   Servico_telefone                          7267 non-null   int64
 7   Varias_linhas                             7267 non-null   int64
 8   Seguranca_online                          7267 non-null   int64
 9   Backup_online                             7267 non-null   int64
 10  Protecao_dispositivo                      7267 non-null   int64
 11  Suporte_tecnico                           7267 non-null   int64
 12  Streaming_TV                              7267 non-null   int64
 13  Streaming_filmes                          7267 non-null   int64
 14  Fatura_papel                              7267 non-null   int64
 15  Taxas_mensais                             7267 non-null   float64
 16  Cobranca_total                            7267 non-null   float64
 17  Contas_diarias                            7267 non-null   float64
 18  Servico_internet_Fiber optic              7267 non-null   bool
 19  Servico_internet_No                       7267 non-null   bool
 20  Contrato_One year                         7267 non-null   bool
 21  Contrato_Two year                         7267 non-null   bool
 22  Metodo_pagamento_Credit card (automatic)  7267 non-null   bool
 23  Metodo_pagamento_Electronic check         7267 non-null   bool
 24  Metodo_pagamento_Mailed check             7267 non-null   bool
dtypes: bool(7), float64(4), int64(14)
memory usage: 1.0 MB